{% extends 'common/base.html' %}
{% load static %}
<title>{% block title%} {{book.title}}{%endblock%}</title>

{% block content%}
<div class="description">
    <img class="description-image" src="{{book.orImageUrl}}" alt="">
   <div class="right-details">
        <h1>{{book.title}}</h1>
        <p>Written By: <span class="span">
             {% for author in book.authors.all %}
                 {{ author.first_name }} {{ author.last_name }} {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span></p>
        <p>Released at: <span class="span">{{book.releasedAt}}</span></p>
        <p>Page Count: <span class="span">{{book.pageCount}} Pages</span></p>
        <p class="read-text">
            {{book.longDescription}}
        </p>
        <p class="sameAuthor">
           <h3> Read Similar Books of The Same Author(s):</h3>
            <ul>
                {% for author in book.authors.all %}
                <li><a class="span" href="{% url 'books_by_same_author' author.id %}">{{ author.first_name }} {{ author.last_name }}</a></li>
                {% endfor %}
            </ul>
        </p>
        <p>
            Rating:
            {% if average_rating %}
                <span class="span">{{ average_rating|floatformat:1 }}/5.0</span>
            {% else %}
                <span class="span">Not rated yet</span>
            {% endif %}
        </p>
        {% if user.is_authenticated %}
            <form action="{% url 'bookDetail' book.id %}" method="post" id="rating_form" >
                {% csrf_token %}
                <select name="rating" id="">
                    {% for value, label in rating_form.fields.rating.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
                <button class="rate-btn" type="submit">Rate</button>
            </form>
            <h2>Leave Your Review</h2>
            <form action="{% url 'bookDetail' book.id %}" method="post" id="review_form">
                {% csrf_token %}
                <textarea 
                    name="review" id="" cols="30" rows="10" 
                    placeholder="Write Review"></textarea>
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <p class="login-for-review"><a href="{% url 'login' %}?next={{request.path}}">Login</a> to write The Review</p>
        {% endif %}

        <div class="reviews">
            {%if reviews %}
            <h4>Recent Reviews</h4>
            {% for review in reviews %}
                <div class="single-review">
                    <p>{{review.reviewContent}}</p>
                    <p class="reviewer">By: {{review.reviewer.username}} at {{review.createdAt}}</p>
                </div>
            {%endfor%}
            {%endif%}
        </div>

       
   </div>
</div>

{% endblock %}

